@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Mono&display=swap');

/* General CSS */
* {
    font-family: 'Arvo', serif;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 18px;
}


.container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 20px;
    width: 10rem;
    height: 3rem;
    align-self: center;
}

button {
    font-size: 28px;
}

.text {
    opacity: 0;
    margin: 50px;
    transition: opacity .5s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.text.reveal {
    display: block;
    opacity: 1;
}